@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../../fonts/Montserrat-Light.ttf) format("truetype");
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  color: white;
  padding-top: 15px;
  font-family: Montserrat;
  z-index: 100;
  transition: 0.6s;
}

.sticky {
  background-color: #fff;
  color: black;
  height: 10vh;
}

.sticky .centro ul li {
  color: black;
}

.sticky .centro ul li a {
  color: black !important;
}

.sticky .centro ul .btn::after {
  background-color: black;
}

.styleLang {
  background-color: #777977 !important;
}

.izq {
  flex: 1;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

/* parte centro */
.centro {
  flex: 1;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  margin: 0 10px;
  cursor: pointer;
  color: white;
}
a {
  text-decoration: none;
  color: white !important;
  transition: 0.6s;
}

.titulo {
  cursor: auto;
}

.btn::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s ease-out;
}
.btn:hover::after {
  display: block;
  width: 100%;
  font-weight: 700;
}

.der {
  flex: 1;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* Lista de configuracion */

.listConfig {
  height: 90vh;
  width: 5vw !important;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: black;
  /* transform: translateX(100%); */
  transition: 0.5s ease-in;
}
.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
}
/* .tema {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.temas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.titulos {
  font-size: 20px;
  font-weight: bold;
} */

/* .activo {
  transform: translateX(100%);
} */

.btn-open {
  cursor: pointer;
}

.lang{
  height: 100px;
  width: 5px;
  background-color: #fff;
}

.lang span {
  position: relative;
  top: 40%;
  left: 0px;
  color: transparent;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.up{
  margin-bottom: 30px;
}

.down{
  margin-top: 30px;
  /* transform: rotate(180deg); */
}

.lang:hover{
  transition: all 0.2s ease-in-out;
  box-shadow: -5px 0px 12px 3px rgba(255, 255, 255, 0.814);
  -webkit-box-shadow: -5px 0px 12px 3px rgba(255, 255, 255, 0.814);
  -moz-box-shadow: -5px 0px 12px 3px rgba(255, 255, 255, 0.814);
}

.lang:hover span{
  transition: all 0.3s ease-in-out;
  left: -50px;
  color: white
}

/* .arrow:hover{
} */



