@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../../../fonts/Montserrat-Light.ttf) format("truetype");
}
.pantallaInicio {
  margin-top: -20px;
  height: 103vh;
  width: 100vw;
  background-color: #141814;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  scroll-behavior: smooth !important;
}
.contenedor {
  display: flex;
  flex-direction: row;
}

.parteIzq {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* background-color: red; */
}

.parteDer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.vector1 {
  margin-top: -0.05%;
  width: 100%;
}

.scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mouse {
  width: 1.8rem;
  height: 3.5rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}
.mouse span {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  margin: 1.5rem auto;
  animation: scrolldown 1.5s linear infinite;
}

.arrow span {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(45deg);
  animation: arrowdown 1s alternate infinite;
}

.title{
  color: white;
  font-size: 55px;
  margin-bottom: 0;
  text-align: left;
}

.subtitle{
  color: #777977;
  font-size: 38px;
  margin-top: 0;
  text-align: left;
}

#Rectangle53 {
  position: absolute !important;
  top: 15% !important;
  left: 25% !important;
}

#Rectangle54 {
  position: absolute !important;
  top: 30% !important;
  left: 46% !important;
}

#Rectangle55 {
  position: absolute !important;
  top: 14% !important;
  left: 81% !important;
}

#Rectangle56 {
  position: absolute !important;
  top: 50% !important;
  left: 40% !important;
}

#Rectangle57 {
  position: absolute !important;
  top: 55% !important;
  left: 37% !important;
}

#Rectangle58 {
  position: absolute !important;
  top: 63% !important;
  left: 87% !important;
}
#Rectangle59 {
  position: absolute !important;
  top: 80% !important;
  left: 13% !important;
}
#Rectangle60 {
  position: absolute !important;
  top: 10% !important;
  left: 56% !important;
}
#Rectangle61 {
  position: absolute !important;
  top: 41% !important;
  left: 90% !important;
}
#Rectangle62 {
  position: absolute !important;
  top: 10% !important;
  left: 10% !important;
}
#Rectangle63 {
  position: absolute !important;
  top: 80% !important;
  left: 73% !important;
}

#scene {
  height: 100% !important;
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes arrowdown {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 426px) {
  .contenedor{
    flex-direction: column-reverse;
    margin-top: 250px;
  }
  .title{
    font-size: 40px !important;
    text-align: center !important;
  }
  .subtitle{
    font-size: 30px;
    text-align: center;
  }
  .decoration{
    display: none !important;
  }
  .vector1{
    margin-top: -0.17%;
  }
  .mouse{
    width: 1.5rem;
    height: 3rem;
  }
} 